.footer {
  background-color: var(--back-color);
  padding-top: 60px;
  padding-bottom: 60px;
  }
.footer__wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  @include width(768) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @include width(1200) {
    flex-direction: row;
    text-align: start;
    }
  }
.footer__contacts-wrap {
  padding-top: 20px;
  white-space: nowrap;
  }
.footer__address {
  @include font(normal, 400, 14px, 1.71, 0.03em, #ffff);
  }
.footer__social-list-wrap {
  @include width(1200) {
    margin-left: 70px;
    margin-right: 93px;
    }
  }
.footer__label {
  @include font(normal, 700, 14px, 16px, 0.03em, #ffff);
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  @include width(768) {
    margin-top: 0;
  }
  @include width(1200) {
    margin-top: 10px;
    text-align: start;
  }
  }
.social__link_footer-style {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  transition: var(--timing-function);
  }
.footer__contacts {
  @include font(normal, 400, 14px, 1.71, 0.03em, rgba(255, 255, 255, 0.6));
  text-decoration: none;
  transition: color var(--timing-function);
    &:hover, &:focus {
      color: #ffffff;
    }
  }
.footer__contacts-spacer {
   margin: 9px 0 0 0;
  }