.social__list {
    @include flex-centered ();
}
.social__item + .social__item {
    margin-left: 10px;
}
.social__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    @include flexible ();
    transition: background-color var(--timing-function);
    &:hover, &:focus {
        background-color: var(--accent-color);
        color: #ffffff;
    }
}
.social__icon {
    fill: currentColor;
}
